**/google-services.json
*.iml
/local.properties
/build
/captures
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
local.properties
.gradle
.cxx
.DS_Store
.externalNativeBuild
/app/build/outputs/apk/
/app/build/outputs/apk/**/*.apk
*.apk
/app/build/
/release/
